{% extends "included/base.html" %}
{% block title %}Succès Temporaire{% endblock title %}

{% block main-content %}
<h1>Plaque personnalisée avec succès !</h1>
<p>Votre personnalisation est enregistrée temporairement.</p>
<p>Connectez-vous ou inscrivez-vous pour ajouter au panier ou à la wishlist :</p>
<a href="{% url 'login' %}?next={% url 'checkout' %}" class="btn btn-primary">Se connecter</a>
<a href="{% url 'customerregistration' %}" class="btn btn-secondary">S’inscrire</a>
<a href="{% url 'home' %}">Retour à l'accueil</a>
{% endblock main-content %}